body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-image:  linear-gradient(to bottom right, #def3fe, #f2d5f4);;
}
main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    height: calc(100vh - 100px);
    overflow: hidden;
}
.section-left{
    margin-right: 20px ;
}
.section-left h4{
    margin: 0;
    padding: 15px 0px;
    font-size: 1.25rem;
    font-weight: 515;
}
.section-left span{
    color:#5f5f5f;;
}
.section-left .list-item{
    list-style: none;
    padding-bottom: 20px;
}
.section-left ul .list-item:last-child {
    padding-bottom: 0px;
}
.section-mid{
    width: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    padding: 20px 15px;
}
.search-section{
    background-color: #ffff;
    padding: 10px 10px;
    border-radius: 20px;
}
.search-section input{
    box-sizing: border-box;
    border: none;
    outline: none;
}
.fa-magnifying-glas::before{
    content: " ";
} 
header h3{
    font-size: 1.5rem;
    font-weight: 550;
}
.list-playlist{
    display: flex;
    justify-content: center;
    height: 300px;
    overflow: hidden;
}
.img-song{
    width: 300px;
    /* box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15); */
    border-radius: 20px;
}
.list-song{
    flex-grow: 1;
    width: 100%;
}
.img-song img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    border-radius: 20px;
}
.list-song{
    margin-left: 50px;
    padding: 15px 10px;
    margin-right: 30px;
}
.list-song .item{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 13px;
}
.top-song-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-song h4{
    margin: 0;
    margin-bottom: 5px;
}
.top-song-item .love-icon{
    margin: 0 15px;
}
.order-song{
    color: #646161;
}
.section-right{
    margin-left: 20px;
    overflow-y: auto;
}
 .section-right::-webkit-scrollbar{
    width: 3px;
} 
/* .section-right::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgb(254, 237, 255);
} */
.section-right h4{
    margin: 0;
    padding: 15px 0px;
    font-size: 1.15rem;
    font-weight: 530;
}
.artist-list{
    list-style: none;
    padding: 0px;
    margin: 0;
}
.artist-item{
    padding: 10px 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}
.artist-item img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}
.artist-item .artist{
    margin: 0 20px 0 10px;
}
.artist-item .name-artist{
    margin: 0;
}
footer{
    background: linear-gradient(90deg, rgb(207, 228, 251) 0%, rgb(254, 218, 234) 100%);
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.song-play{
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-play img{
    width: 60px;
    height: 60px;
    object-position: center;
    margin-right: 20px;
}
.action-play{
    width: 40%;
}
.duration-song{
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}
.duration-song input{
    flex: 1;
    margin: 0 10px;
}
footer input[type="range"]{
    height: 4px;
}
.list-action{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.list-action .action-item{
    font-size: 1.6rem;
    margin: 0 15px;
    color: #2e2424;
}
.sound-song{
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sound-song input{
    margin-left: 10px;
}